@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.main-color {
  background-color: rgb(194, 147, 100);
}

.inset-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.philo-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}

.custombutton-white {
  border: 1px solid black;
}

.custombutton-white:hover {
  background-color: #3f3f3f;
  color: black;
  transition-duration: 300ms;
}

.custombutton-black {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.custombutton-black:hover {
  background-color: #ffffff;
  color: black;
  transition-duration: 300ms;
}